/* --- Pride --- */

.pride-logo {
    transition:
        transform 0.5s ease,
        background 0.5s ease;
}

.pride-logo:hover {
    background: linear-gradient(
        to bottom,
        #e0392c 0% 25%,
        #e2922f 25% 40%,
        #e8c93d 40% 55%,
        #3e8a30 55% 70%,
        #2c4fe0 70% 85%,
        #7e2289 85% 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.pride-flag {
    display: inline-block;
    width: 1.667em;
    height: 1em;
    background: linear-gradient(
        to bottom,
        #e0392c 0% 16.67%,
        #e2922f 16.67% 33.33%,
        #e8c93d 33.33% 50%,
        #3e8a30 50% 66.67%,
        #2c4fe0 66.67% 83.33%,
        #7e2289 83.33% 100%
    );
}
