/*
 * SIGNAL FLAGS v1.0 by https://mxgns.uk 2026
 *
 * Usage: <i class='flag-a'></i>, <i class='flag-b'></i> etc.
 *
 * CC0 1.0 Universal
 * To the extent possible under law, the author has waived all copyright
 * and related or neighboring rights to this work.
 * https://creativecommons.org/publicdomain/zero/1.0/
 *
 * No AI was used in the creation of this work.
 */

[class*="flag-"] {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 0.8em;
}
.flag-large {
    width: 10em;
    height: 8em;
}
.flag-small {
    width: 2.5em;
    height: 2em;
}

.flag-a {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><polygon points='0,0 100,0 80,40 100,80 0,80' style='fill:rgb(13,40,96)' /><rect width='50' height='80' style='fill:rgb(255,255,255)' /><polygon points='0,0 100,0 80,40 100,80 0,80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-b {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><polygon points='0,0 100,0 80,40 100,80 0,80' style='fill:rgb(179,42,46)' /><polygon points='0,0 100,0 80,40 100,80 0,80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-c {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(13,40,96)' /><rect width='100' height='40' x='0' y='20' style='fill:rgb(255,255,255)' /><rect width='100' height='20' x='0' y='30' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-d {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><rect width='100' height='40' x='0' y='20' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-e {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(179,42,46)' /><rect width='100' height='40' x='0' y='0' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-f {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><polygon points='50,0 100,40 50,80 0,40' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-g {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><rect width='16.6667' height='80' x='16.6667' y='0' style='fill:rgb(13,40,96)' /><rect width='16.66667' height='80' x='50' y='0' style='fill:rgb(13,40,96)' /><rect width='16.66667' height='80' x='83.3333' y='0' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-h {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><rect width='50' height='80' x='50' y='0' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-i {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><circle cx='50' cy='40' r='25' style='fill:rgb(0,0,0)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-j {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(13,40,96)' /><rect width='100' height='26' x='0' y='27' style='fill:rgb(255,255,255)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-k {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><rect width='50' height='80' x='50' y='0' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-l {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><rect x='50' y='0' width='50' height='40' style='fill:rgb(0,0,0)' /><rect x='0' y='40' width='50' height='40' style='fill:rgb(0,0,0)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-m {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(13,40,96)' /><polygon points='0,0 10,0 100,70 100,80 90,80 0,10' style='fill:rgb(255,255,255)' /><polygon points='0,80 0,70 90,0 100,0 100,10 10,80' style='fill:rgb(255,255,255)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-n {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><rect width='25' height='20' x='0' y='0' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='50' y='0' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='25' y='20' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='75' y='20' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='0' y='40' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='50' y='40' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='25' y='60' style='fill:rgb(13,40,96)' /><rect width='25' height='20' x='75' y='60' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-o {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><polygon points='0,0 100,0 100,80' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-p {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(13,40,96)' /><rect width='50' height='40' x='25' y='20' style='fill:rgb(255,255,255)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-q {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(241,190,76)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-r {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(179,42,46)' /><rect width='100' height='20' x='0' y='30' style='fill:rgb(241,190,76)' /><rect width='20' height='80' x='40' y='0' style='fill:rgb(241,190,76)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-s {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><rect width='50' height='40' x='25' y='20' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-t {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><rect width='33.33' height='80' x='0' y='0' style='fill:rgb(179,42,46)' /><rect width='33.33' height='80' x='66.67' y='0' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-u {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(179,42,46)' /><rect x='50' y='0' width='50' height='40' style='fill:rgb(255,255,255)' /><rect x='0' y='40' width='50' height='40' style='fill:rgb(255,255,255)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-v {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><polygon points='0,0 10,0 100,70 100,80 90,80 0,10' style='fill:rgb(179,42,46)' /><polygon points='0,80 0,70 90,0 100,0 100,10 10,80' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-w {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(13,40,96)' /><rect width='66.67' height='53.33' x='16.6667' y='13.3333' style='fill:rgb(255,255,255)' /><rect width='33.3333' height='26.6667' x='33.3333' y='26.6667' style='fill:rgb(179,42,46)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-x {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(255,255,255)' /><rect width='100' height='20' x='0' y='30' style='fill:rgb(13,40,96)' /><rect width='20' height='80' x='40' y='0' style='fill:rgb(13,40,96)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-y {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(179,42,46)' /><polygon points='0,0 20,0 0,16' style='fill:rgb(241,190,76)' /><polygon points='40,0 60,0 0,48 0,32' style='fill:rgb(241,190,76)' /><polygon points='80,0 100,0 0,80 0,64' style='fill:rgb(241,190,76)' /><polygon points='100,16 100,32 40,80 20,80' style='fill:rgb(241,190,76)' /><polygon points='100,48 100,64 80,80 60,80' style='fill:rgb(241,190,76)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
.flag-z {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='80'><rect width='100' height='80' style='fill:rgb(0,0,0)' /><polygon points='0,80 50,40 100,80' style='fill:rgb(179,42,46)' /><polygon points='100,0 100,80 50,40' style='fill:rgb(13,40,96)' /><polygon points='0,0 100,0 50,40' style='fill:rgb(241,190,76)' /><rect width='100' height='80' style='fill:none;stroke:black;stroke-width:2;stroke-opacity:0.85;' /></svg>");
}
